<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>

<h1>List of diarys:</h1>

<div>
    <button type="button" onclick="newPost()" value="new post" class="btn btn-success">New post</button>
</div>
<br>
<div>
    <table style="font-family: 'Trebuchet MS',Arial,sans-serif" width="75%">

        <tr th:each="diarys : ${alldiarys}" style="list-style-type: none">
            <td th:text="${diarys.id}" style="border: 1px solid #ddd"></td>
            <td th:text="${diarys.title}" style="border: 1px solid #ddd"></td>
            <td><a class="btn btn-warning" th:href="'/editpost/' + ${diarys.id}" role="button">Edit</a></td>
            <td><a class="btn btn-warning" th:href="'/deletepost/' + ${diarys.id}" role="button">Delete</a></td>
            <td>

            </td>
        </tr>
    </table>
</div>



<script>
    function newPost() {
        location.href = "http://localhost:8080/newpost";
    }
</script>

</body>
</html>